html {
    background-color: white;
}

body {
    background: #ccc;
    width: 90%;
    margin: auto;
    text-align: center;
}

.designToQuestion {
    font-family: monospace;
    margin: 5%;
}
.True{
    background-color:rgb(0, 0, 0);
    color: gold;
}
.False {
    background-color: rgb(0, 0, 0);
    color: rgb(182, 0, 189);
}